/* 样式		2015-9-10	keven */
    .cksearch {
        margin-top: 20px;
    }
    
    .ckHeadNav {
        margin-top: 20px;
        background-color: #FFF;
    }

    .ckpanel{
    	overflow: hidden;
    }

    .cklogo:hover{
    	color: #337AB7;
    	text-decoration: none;
    }

    .selectImg{
        text-align: center;
        width: 100%;
        height: 300px;
        border: 1px solid #ccc;
        border-radius: 2px;
    }

@media screen and (max-width: 750px){
	.ckHeadNav {
		margin: 0;
        background-color: #FFF;
    }
}

	.ckNav2{
		margin-top: 16px;
		margin-bottom: 0;
	}


